/* base */

html, body, #root {
  height: 100%;
}

#root {
  box-sizing: border-box;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

/* "Tailwind" */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.block {
  display: block;
}

.w-3\/4 {
  width: 75%;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}
